<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="type" name="Task Type" schema="schema/type.exsd"/>
   <extension-point id="provider" name="Task Provider" schema="schema/provider.exsd"/>
   <extension
         id="tasksTable"
         name="Tasks"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.tasks.gui.view.TableView"
            icon="task.gif">
      </view>
   </extension>
   <extension
         id="refreshTool"
         name="Refresh"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.tasks.control.tools.TasksRefreshTool"
            description="Refreshes the table"
            hasState="false"
            icon="refresh.gif"
            view="pa.iscde.tasks.tasksTable">
      </tool>
   </extension>
   <extension
         id="MetricExport"
         name="Export"
         point="pa.iscde.metrixexport">
      <item
            class="pa.iscde.tasks.integration.MetricExport">
      </item>
   </extension>
   <extension
         id="MetricAdd"
         name="Add"
         point="pa.iscde.addmetricext">
      <item
            class="pa.iscde.tasks.integration.Metric"></item>
   </extension>

</plugin>
